---
import { TextSection } from '@odyssey-theme/components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Laura</h1>
			<p>
				I'm a Staff Engineer in the Platform team at Hireup.
				I'm also an electronics hobbyist, mechanical keyboard enthusiast,
				vinyl collector, diver, and servant to a sassy corgi named Baxter.
			</p>
			<p>
            	I'm a maker at heart. I like to innovate and build cool things.
            	While I've created dozens of highly successful apps and services, my happy
            	place is when I'm building things which make people smile and think, "I never knew I needed this".
            </p>
            <p>
                If you'd like to find out more, you can reach me via the Contact form or email
                me at <a href="mailto:me@laurabrandon.codes">me@laurabrandon.codes</a>.
            </p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/classic-hero.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
</Layout>
