---
import {
	Button,
	FormInput,
	FormSelect,
	FormTextarea,
} from '@odyssey-theme/components';

---

<form
	name="Contact Form"
	method="POST"
	action="/contact-thank-you"
	data-netlify="true"
>
	<FormInput type="text" label="Name" name="Name" placeholder="Jane Doe" />
	<FormInput
		type="email"
		label="Email"
		name="Email"
		placeholder="hello@example.com"
	/>
	<FormTextarea
		label="Message"
		name="Message"
		placeholder="Your message here..."
	/>
	<Button>Submit</Button>
</form>

<style>
	form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
</style>
